<%= javascript_pack_tag 'client' %>

<h2>
  Demo Client:
  <span id="currently-connected" style="color: gold;">
    Not Connected
  </span>
</h2>

<button
  class="button is-success"
  id="connect"
  style="margin: 15px"
>
  Connect
</button>

<hr>

<h3>Instrument: <span id="current-instrument-name">N/A</span></h3>

<h4>Connected: </h4>

<div>
  <!-- Placeholder image retaining shape, need a clearer waiting image later -->
  <img id="current-instrument-image" src="#" alt="" height="25%" width="25%">
</div>

<hr>

<h3>Stats</h3>

<h4>Current Clock</h4>

<table>
  <thead>
    <tr>
      <td>Current Time</td>
      <td>Current Offset</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <span id="current-time">N/A</span>
      </td>

      <td>
        <span id="current-offset">N/A</span> ms
      </td>
    </tr>
  </tbody>
</table>

<!-- <h4>Clients Information</h4>

<table>
  <thead>
    <tr>
      <td>Client ID</td>
      <td>Client Instrument</td>
    </tr>
  </thead>

  <tbody id="client-info">
    <tr id="client-info-blank-row">
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table> -->
