<h2>Administrator</h2>

<!-- <button
  class="button is-success"
  id="play"
  style="margin: 15px"
>
  Play
</button>

<button
  class="button is-success"
  id="stop"
  style="margin: 15px"
>
  Stop
</button>

<button
  class="button is-success"
  id="instrument"
  style="margin: 15px"
>
  Request Instrument
</button>

<br>

<button
  class="button is-success"
  id="conductorAssign"
  style="margin: 15px"
>
  Conductor Assignment
</button> -->

<button
  class="button is-success"
  id="universalAssign"
  style="margin: 15px"
>
  Universal Assignment
</button>


<button
  class="button is-success"
  id="universalPlay"
  style="margin: 15px"
>
  Universal Play
</button>

<button
  class="button is-success"
  id="universalStop"
  style="margin: 15px"
>
  Universal Stop
</button>

<!-- <b>Instruments:</b>

<select name="instruments" id="instruments">
  <option value="Flauti I II">Flute</option>
  <option value="Oboi I II">Oboe</option>
  <option value="Clarinetti in B I II">Clarinet</option>
  <option value="Fagotti I II">Bassoon</option>
  <option value="Corno I in F">Horn 1</option>
  <option value="Corno II in F">Horn 2</option>
  <option value="Violino I">Violin 1</option>
  <option value="Violino II">Violin 2</option>
  <option value="Viola">Viola</option>
  <option value="Violoncello">Cello</option>
  <option value="Contrabasso">Double Bass</option>
</select> -->
